.side {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #800080;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	width:176px;
}
:hover.side {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #AE1515;
	text-decoration: none
}
.light2 { top:-1px; left:-2px; color:white; }
.shade2 { top:+1px; left:+2px; color:black; }
.fill2 { text-align:center; color:#144DF2; width:70%; margin:auto; margin-bottom:15px;}
table.iniFile{
	margin: 0px auto;
	border-collapse: separate;
	border-spacing: 5px;
	border: 1px;
	width: auto;
}
table.iniFile td{
	padding: 5px;
}

.div1 { position:absolute;}

div.row span.Item1 {
  border-style:solid; border-width:1px; float: right;
  text-align: right;
  color: #000000;
  padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px; font-family:Arialsans-serif; position:relative;
  }
body.background {position: relative; margin:0;}
body.popup-background {
	position: relative;
	background-color:#FFFFFF;
	margin:0;
	height:430px;
	width: 500px;
}
table.center {
	background-color:#FFFFFF;
	width:80%;
	text-align:center;
	border:1px;
  }
table.page {
	width:auto;
	border-collapse:collapse;
}
table.page td {
	padding:0px;
}
tr.fixed{
	position: fixed;
}
table.leftmenu{
	border-collapse:collapse;
	border-spacing:0px;
	padding-bottom:0px;
	display: block;
}
table.toplogo{
	border-collapse:collapse;
	border-spacing:0px;
	padding-bottom:0px;
	width: 780px;
	line-height: 0;
}
td.leftmenu{
	width:176px;
	vertical-align:top;
}
table.data{
	border-collapse:separate;
	background-color:#FEFFED;
	border:3px solid #ccc;
	border-radius:10px;
	display: block;
	width: auto;
}
table.data td{
	border: 1px solid #ccc;
	text-align: center;
	border-radius:2px;
}
table.data tr:nth-child(odd){
	background-color:#FEFFED;
}
table.data tr:nth-child(even){
	background-color:rgba(163, 216, 234, 0.78);
}
table.prsnt{
	text-align:center;
	border-collapse:collapse;
	border-spacing:0px;
	padding:0px;
	border:0px;
	width: 100%;
}
table.prsnt td{
	height:auto;
	border:1px solid black;
}


